.main{
    background: url(https://img.freepik.com/premium-photo/big-hamburger-with-double-beef-french-fries_252907-8.jpg?w=2000)no-repeat;
    background-size: cover;
    height:100%;
    width: 100%;
    background-position: 50% 50%;
}
.ft{
margin-top: 70px;
}
.main h1{
    font-size: 4rem;
    font-weight: 700;
     color:aliceblue; 
}
.btn1{
    height:45px;
    width:35%;
    border:none;
    outline:none;
    background-color:rgb(248, 26,92) ;
    color:white;
    font-weight:700;
    border-radius: 60px;
}
.pd1{
    padding:30px;
}
.btn1:hover{
    background-color: tomato;
    transition:0.5s;
}
.card:hover{
    -webkit-box-shadow: -2px -1px 58px 7px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 58px 7px rgba(0,0,0,0.75);
box-shadow: -2px -1px 58px 7px rgba(0,0,0,0.75);
}
.apple{
    background: url('https://cdn.wallpapersafari.com/91/67/ZhVXNp.jpg');
    background-size: cover;
    height:70vh;
    width: 100%;
}
.news{
    background-color: black;
    color:white;
}
.btn2{
    height: 45px;
    width: 100px;
    background: wheat;
    margin-left:-10px;
    border:2px solid white;
    font-weight:600;
}
.news input{
    height:45px;
    width:55%;
    border: 2px solid white;
    outline: none;
    background: black;
    color:white;
    margin-top: 20px;
    font-weight:600;

}

